/invoice_data_with_s3.csv
/full_invoice_detection_dataset.csv
/full_invoice_detection_dataset_WITH_PAGES_TO_TEXT_FINAL.csv
/full_invoice_detection_dataset_FINAL.csv
/full_invoice_detection_dataset_FINAL_LIGHT.csv
